@import "tailwindcss";
@plugin "daisyui";

/* colours do not work conditionally. why? */
@theme {
  --color-pastel-1: oklch(0.82 0.08 285);
  --color-pastel-2: oklch(0.85 0.08 300);
  --color-pastel-3: oklch(0.88 0.06 320); 
  --color-pastel-4: oklch(0.86 0.09 340); 
  --color-pastel-5: oklch(0.85 0.1 350);
  --color-pastel-6: oklch(0.87 0.07 10);
  --color-pastel-7: oklch(0.88 0.05 220);
  --color-pastel-8: oklch(0.85 0.07 240); 
}

li {
    list-style-type: none;
}
