#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 4em yellow);
}

:nth-child(2 of .logo):hover {
  filter: drop-shadow(0 0 4em green);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-inverted {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   :nth-child(1 of .logo) {
    animation: logo-spin infinite 5s linear;
  }

   :nth-child(2 of .logo) {
    animation: logo-spin-inverted infinite 2.5s linear;
  }
}