@import "tailwindcss";
@plugin "daisyui";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style-type: none;
}